.body-div {
  padding-top: 80px;
  height: fit-content;
  margin-bottom: 20px;
}

.leaflet-container {
  height: 500px;
  z-index: 1 !important;
  margin: auto;
}

.cluster-icon {
  color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: #6364d5;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1rem;
}

#container {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #container {
    text-align: center;
    width: 100%;
    flex-direction: column;
  }
  .leaflet-container {
    height: 400px;
    width: 100%;
    margin: auto;
    z-index: 1 !important;
  }
}
